body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: lightskyblue;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
  border :1px solid #ccc;

}

#taskInput {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#addBtn {
  padding: 10px 15px;
  border: blue;
  background: #1e90ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#taskList {
  margin-top: 20px;
  padding: 0;
  Color :blue;
}

#taskList li {
  list-style: none;
  background: gainsboro;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background:#ff4c4c;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}